* {
    box-sizing : border-box; 
    font-family: 'Source Sans Pro', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.small{
    font-size: 18px;
    color: #e5e7eb;
}

.link{
    text-align: center;
}

.header_secondary {
    font-size: 24px;
    color: #f9faf8;
    text-align: center;
}
.flex-1{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    flex-grow : 1;
	width : 100vw;
    height: 60px;
    margin: 0px;
    padding: 0;
}

.flex-1a{
    display: flex;
    justify-content: flex-start;
    width: 35vw;
    align-items: center;
    margin-left: 15vw;
}

.flex-1b{
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 35vw;
    align-items: center;
    margin: 0px;
    margin-left: 50px;
    margin-right: 15vw;
}

#large_img {
    height: 250px;
    width: 35vw;
}

.flex-2{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    flex-grow : 1;
	width : 100vw;
    height: 500px;
    margin: 0px;
    padding: 0;
}

.title {
    color: #f9faf8;
    font-size:48px;
    font-weight: 750;
    margin-bottom: 15px;
}
.flex-2a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35vw;
    height: 250px;
    margin-left: 15vw;
    margin-right:80px;
}

.flex-2java{
    display: flex;
    color: #f9faf8;
    background-color: #3882f6;
    width:7vw;
    padding:6px;
    justify-content:center;
    margin-top: 20px;
    border-radius: 7px;
}

.flex-2b{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 35vw;
    height: 250px;
    margin-right: 15vw;
}

.info{
    display: flex;
    font-weight: 750;
    font-size: 36px;
    color: #1f2937;
    justify-content: center;
    height: 150px;
    width: 100vw;
    align-items: center;
}

.flex-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 390px
}

.flex-3a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 180px;
    width: 100vw;
}

.flex-3b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 180px;
    width: 850px;
}

.ord_img {
    height: 160px;
    width: 160px;
    border-radius: 7px;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
}

.subtext {
    font-size: 16px;
    color: #1f2937;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.flex-4 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 560px;
    background-color: #e5e7eb;
    padding-left: 25vw;
    padding-right: 25vw;
    justify-content: center;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote_title {
    font-weight: 750;
    font-size: 18px;
    color: #1f2937;
    text-align: end;
    margin: 40px;
}

.section-4 {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 160px;
    margin-right: 160px;
    background-color: #3882f6;
    color: #f9faf8;
    height: 160px;
    border-radius: 7px;
}

